@import url("./colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: Iosevka;
    font-size: 11pt;
    min-height: 0;
}

window#waybar {
    opacity: 0.9;
    background: @background-darker;
    color: @foreground;
    border-bottom: 2px solid @background;
}

#workspaces button {
    padding: 0 10px;
    background: @background;
    color: @foreground;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background-darker);
}

#workspaces button.active {
    background-image: linear-gradient(0deg, @purple, @selection);
}

#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @background-darker);
}

#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}

#clock {
    padding: 0 4px;
    background: @background;
}

#battery {
    background: @background;
    color: @foreground;
    padding: 0 4px;
}

/* When charging */
#battery.charging {
    background: #a6e3a1;
    /* bright green background */
    color: #000000;
    /* black text for contrast */
}

/* When battery is low */
#battery.warning {
    background: #ffae00;
    /* yellow/orange background */
    color: #000000;
}

/* When battery is critical */
#battery.critical {
    background: #ff0000;
    /* red background */
    color: #ffffff;
}
